<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
  <title>new notice</title>
</head>
<body>
<section layout:fragment="content">
  <div class="my-4">
    <h2>공지사항 수정</h2>
  </div>
  <form id="form">
    <input id="idInput" type="hidden" th:value="${notice.getId()}"/>
    <div class="mb-3">
      <label for="titleInput" class="form-label">제목</label>
      <input id="titleInput" class="form-control" type="text" placeholder="제목"
             th:value="${notice.getTitle()}"/>
    </div>
    <div class="mb-3">
      <label for="contentInput" class="form-label">본문</label>
      <textarea id="contentInput" class="form-control" rows="10"
                th:text="${notice.getContent()}"></textarea>
    </div>
    <div class="d-flex">
      <button id="submitButton" type="submit" class="ms-auto btn btn-primary">수정</button>
    </div>
  </form>
</section>
<th:block layout:fragment="footer">
  <script type="application/javascript" th:src="@{/js/notice/update.js}"></script>
</th:block>
</body>
</html>
