<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
  <title>notification</title>
</head>
<body>
<section layout:fragment="content">
  <div class="my-4">
    <h1>알림</h1>
  </div>
  <div class="card">
    <h3 class="card-header">현재 알림</h3>
    <div class="card-body">
      <th:block th:if="${currentNotification.getExist()}">
        <h5 class="mb-1">
          <a class="text-reset"
             th:href="@{/admin/notification/update(notificationId=${currentNotification.getId()})}"
             th:text="${currentNotification.getTitle()}"></a>
        </h5>
        <div class="mb-1" th:text="${currentNotification.getContent()}"></div>
        <div class="d-flex">
          <div th:text="${currentNotification.getNotifyStart()} + ' ~ ' + ${currentNotification.getNotifyEnd()}"></div>
          <button type="button" class="ms-auto btn btn-outline-secondary btn-sm _activation-button"
                  th:attr="data-notification-id=${currentNotification.getId()},data-is-active=true">비활성화</button>
          <button type="button" class="ms-1 btn btn-outline-secondary btn-sm _update-button"
                  th:attr="data-notification-id=${currentNotification.getId()}">수정</button>
          <button type="button" class="ms-1 btn btn-outline-secondary btn-sm _delete-button"
                  th:attr="data-notification-id=${currentNotification.getId()}">삭제</button>
        </div>
      </th:block>
    </div>
  </div>
  <hr/>
  <div class="d-flex py-2">
    <a class="btn btn-primary" href="/admin/notification/new" role="button">추가</a>
  </div>
  <div class="py-2">
    <div id="notificationList" class="list-group">
      <div class="list-group-item-action list-group-item"
           th:each="notification : ${page.data}"
           th:classappend="${notification.isActive() ? 'list-group-item-success' : 'list-group-item-light'}">
        <div class="d-flex">
          <h5 class="mb-1">
            <a class="post-list-title text-reset" th:href="@{/admin/notification/update(notificationId=${notification.getId()})}"
               th:text="${notification.getTitle()}"></a>
          </h5>
          <small class="ms-auto" th:text="${notification.getCreatedAt()}"></small>
        </div>
        <div class="mb-1" th:text="${notification.getContent()}"></div>
        <div class="d-flex">
          <div th:text="${notification.getNotifyStart()} + ' ~ ' + ${notification.getNotifyEnd()}"></div>
          <button type="button" class="ms-auto btn btn-outline-secondary btn-sm _activation-button"
                  th:attr="data-notification-id=${notification.getId()},data-is-active=${notification.isActive()}"
                  th:text="${notification.isActive() ? '비활성화' : '활성화'}"></button>
          <button type="button" class="ms-1 btn btn-outline-secondary btn-sm _update-button"
                  th:attr="data-notification-id=${notification.getId()}">수정</button>
          <button type="button" class="ms-1 btn btn-outline-secondary btn-sm _delete-button"
                  th:attr="data-notification-id=${notification.getId()}">삭제</button>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul id="pageNavigation" class="justify-content-center pagination"></ul>
  </nav>

  <div class="modal" id="confirmModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">확인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          정말로 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger _delete-button">삭제</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="infoModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">empty title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">empty body</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>
</section>
<th:block layout:fragment="footer">
  <script th:inline="javascript">
    /*<![CDATA[*/
    const currentPage = [[${page.currentPage}]];
    const lastPage = [[${page.lastPage}]];
    /*]]>*/
  </script>
  <script id="listItemTemplate" type="text/x-handlebars-template">
    {{#if active}}
    <li class="page-item active">
    {{else}}
    <li class="page-item">
    {{/if}}
      <a class="page-link" href="/admin/notification?page={{page}}">{{page}}</a>
    </li>
  </script>
  <script id="ellipsisItemTemplate" type="text/x-handlebars-template">
    <li class="page-item disabled">
      <a class="page-link">...</a>
    </li>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
          integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="application/javascript" th:src="@{/js/notification/main.js}"></script>
  <script type="application/javascript" th:src="@{/js/utils/pageUtils.js}"></script>
</th:block>
</body>
</html>
