<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
  <title>new notification</title>
</head>
<body>
<section layout:fragment="content">
  <div class="my-4">
    <h2>알림 수정</h2>
  </div>
  <form id="form">
    <input id="idInput" type="hidden" th:value="${notification.getId()}">
    <div class="mb-3">
      <label for="titleInput" class="form-label">제목</label>
      <input id="titleInput" class="form-control" type="text" placeholder="제목"
             th:value="${notification.getTitle()}"/>
    </div>
    <div class="mb-3">
      <label for="contentInput" class="form-label">본문</label>
      <textarea id="contentInput" class="form-control" rows="10"
                th:text="${notification.getContent()}"></textarea>
    </div>
    <div class="mb-3 row">
      <div class="col">
        <label for="notifyStartInput" class="form-label">알림시작</label>
        <input id="notifyStartInput" type="datetime-local"
               th:disabled="${notification.isActive()}" th:value="${notification.getNotifyStartForInput()}"/>
      </div>
      <div class="col">
        <label for="notifyEndInput" class="form-label">알림끝</label>
        <input id="notifyEndInput" type="datetime-local"
               th:disabled="${notification.isActive()}" th:value="${notification.getNotifyEndForInput()}"/>
      </div>
    </div>
    <div class="d-flex">
      <button id="submitButton" type="submit" class="ms-auto btn btn-primary">수정</button>
    </div>
  </form>
</section>
<th:block layout:fragment="footer">
  <script type="application/javascript" th:src="@{/js/notification/update.js}"></script>
</th:block>
</body>
</html>
